@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  padding-bottom: 0;
}

body {
  font-family: "Archivo", "system-ui", "sans-serif";
  color: #1e1e1e;
}

/* plusminus span */
.plusminus {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.plusminus:before,
.plusminus:after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
}

.plusminus:after {
  transform: translateY(-50%) rotate(90deg);
}

.plusminus.active:before {
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0;
}

.plusminus.active:after {
  transform: translateY(-50%) rotate(0);
}

/* styles.css */
.link-custom {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: inset 0 0 0 0 var(--tw-shadow-color);
  color: var(--tw-shadow-color, white);

  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.link-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--tw-shadow-color);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(1, -0.09, 0.49, 1.07);
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}

.link-custom:hover::before {
  transform: scaleX(1);
}

.link-custom:hover {
  color: #ffffff;
}
